/* This file is for your main application css. */

.tweet {
  border-bottom: 1px solid #e6ecf0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(255,255,255);
  border 1px solid #e6ecf0;
  background-clip: padding-box;
  padding: 30px 40px;
  border-radius: 8px;
}

.tweet-content {
  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.01em;
}

.tweet-header {
  color: #657786;
  display: flex;
  align-items: flex-start;
  height: 48px;
  margin-bottom: 15px;
}

.tweet-full-name {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.tweet-account-info {
  display: flex;
  flex-direction: column;
}

.avatar {
  float: left;
  border-radius: 50%;
  margin-top: 0px;
}

.full-name {
  color: #14171a;
  font-size: 18px;
  font-weight: bold;
}

.username {
  text-decoration: none;
  color: rgb(101, 119, 134);
}

.username::before{
  content: "@";
}
