<div class="jumbotron">
  <h3>Markov Chain Tweet Generator</h3>
</div>

<div class="row marketing">
  <%= form_for @conn, page_path(@conn, :result), [as: :form_data], fn f ->  %>
    <%= text_input f, :username %>
    <%= submit "Search" %>

  <% end %>
</div>
