<div class="jumbotron">
  <h3>Markov Tweets</h3>
</div>

<div class="row marketing">
  <%= form_for @conn, page_path(@conn, :result), [as: :form_data], fn f ->  %>
    <%= text_input f, :username, [placeholder: "e.g. realDonaldTrump"] %>
    <%= submit "Generate Random Tweet", class: "btn btn-primary", style: "display: block" %>
  <% end %>
</div>
